<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DDX</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PartsSearch">
                <span class="oi oi-list-rich" aria-hidden="true"></span> PartsSearch
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Maigo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> みなしご検索(PDM)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Toku">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 特注調要部品検索
            </NavLink>
        </div>

    </nav>
    <div style="text-align: center"><font color="red"><font size="5">検証環境</font></font></div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
